{% extends 'layout.html' %}

{% block title %}
    Change password
{% endblock title %}

{% block main %}
<form action="/change-password" method="post">
    <div class="form-group">
        <input
            autocomplete="off"
            autofocus
            class="form-control"
            name="old_pw"
            placeholder="Old password"
            type="password"
        />
    </div>
    <div class="form-group">
        <input
            class="form-control"
            name="new_pw"
            placeholder="New password"
            type="password"
        />
    </div>
    <div class="form-group">
        <input
            class="form-control"
            name="confirm_new_pw"
            placeholder="Reenter new password"
            type="password"
        />
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock main %}